body{
	text-align: center;
	background-color: #00001a;
	font-size: 30px;
}
input{
	font-size: 90px;
}
.OK{
	font-size: 50px;
	min-width: 100px;
	background-color: #afa;
	text-align: center;
	display: inline-block;
}
.NO{
	font-size: 50px;
	min-width: 100px;
	background-color: #faa;
	text-align: center;
	display: inline-block;
}
.help{
	font-size: 50px;
	min-width: 100px;
	background-color: #ffa;
	text-align: center;
	display: inline-block;
}
a{
	text-decoration: none;
}
.buttons{
	position: fixed;
	right: 50px;
	bottom: 50px;
}
h1 {
    font-size: 110px;
    color:  #ffffb3;
    margin-bottom: 30px;
}
